<div class="filtro" style="text-align: center">
    <div class="ui horizontal divider">imóveis perto de sua universidade</div>
    <a class="ui primary button" href='dashboard/imovel/editar'>Novo Imóvel</a>
    <button class="black ui button" data-filter="all">Todas</button>
    <button class="black ui button" data-filter="casa">Casas</button>
    <button class="black ui button" data-filter="apartamento">Apartamentos</button>
    <button class="black ui button" data-filter="kitnet">Kitnets</button>
    <button class="black ui button" data-filter="quarto">Quartos</button>
    <div class="">
    </div>
</div>
<div class="ui horizontal divider"></div>
<div class="ui two column stackable grid">
    <div class="ui link cards">
        <!-- BEGIN BLOCK_IMOVEIS -->
        {IMOVEIS}
        <!-- END BLOCK_IMOVEIS -->
    </div>
</div>
<div class="ui divider"></div>
<div align="center"></div>