<!-- BEGIN BLOCK_MESSAGE -->
{MESSAGE}
<!-- END BLOCK_MESSAGE -->
<form class="ui form"  enctype="multipart/form-data" method='POST'>
    <div class="field">
        <label>Endereço</label>
        <div class="fields">
            <div class="twelve wide field">
                <input type="text" name="Endereço" placeholder="Endereço" value='{ENDERECO}'>
            </div>
            <div class="twelve wide field">
                <input type="text" name="Universidade" placeholder="Universidade" value='{UNIVERSIDADE}'>
            </div>
            <!-- <div class="field">
                    <select class="ui dropdown" name="Universidade">
                        <option value="">Selecione tipo imóvel : {UNIVERSIDADE}</option>
                        <option value="">IFSC Campus Ararangua</option>
                        <option value="">IFSC Campus Caçador</option>
                        <option value="">	IFSC Campus Canoinhas</option>
                        <option value="">	IFSC Campus Chapecó</option>
                        <option value="">IFSC Campus Florianópolis Continente</option>
                        <option value="">IFSC Campus Criciúma</option>
                        <option value="">	IFSC Campus Florianópolis</option>
                        <option value="">IFSC Campus Garopaba</option>
                        <option value="">	IFSC Campus Gaspar</option>
                        <option value="">IFSC Campus Itajaí</option>
                        <option value="">IFSC Campus Jaraguá do Sul Centro</option>
                        <option value="">	IFSC Campus Jaraguá do Sul Rau</option>
                        <option value="">IFSC Campus Joinville</option>
                        <option value="">IFSC Campus Lages</option>
                        <option value="">et</option>
                        <option value="">to</option>
                        <option value="">Casa</option>
                        <option value="">Apartamento</option>
                        <option value="">Kitnet</option>
                        <option value="">Quarto</option>
                        <option value="">Casa</option>
                        <option value="">Apartamento</option>
                        <option value="">Kitnet</option>
                        <option value="">Quarto</option>
                        <option value="">Casa</option>
                        <option value="">Apartamento</option>
                        <option value="">Kitnet</option>
                        <option value="">Quarto</option>
                         <option value="">Casa</option>
                        <option value="">Apartamento</option>
                        <option value="">Kitnet</option>
                        <option value="">Quarto</option>
                    </select>
                </div>        -->
            <div class="four wide field">
                <input type="number" name="Número" placeholder="Número" min="0" value='{NUMERO}'>
            </div>
            <div class="four wide field">
                <input type="number" name="Limite de pessoas" placeholder="Limite pessoas" min="2" value='{LIMITE_PESSOAS}'>
            </div>
        </div>
    </div>
    <div class="field">
        <select class="ui dropdown" name="Tipo">
            <option value="{TIPO}">Selecione tipo imóvel : {TIPO}</option>
            <option value="Casa">Casa</option>
            <option value="Apartamento">Apartamento</option>
            <option value="Kitnet">Kitnet</option>
            <option value="Quarto">Quarto</option>
        </select>
    </div>       
    <div class="field">
        <div class="four wide field">
            Fotos
            <input type="file" name="Foto Imovel" id="fileToUpload">            
        </div>
    </div>
    <div class="field">
        <label>Descrição</label>
        <textarea name="Descrição">{DESCRICAO}</textarea>
    </div>
    <button class="ui button" type="submit">Enviar</button>
</form>